<div class="nav-menu">
    <ul>
        <li><a href="information.html">About us</a></li>
        <li><a href="information.html">Posting a job</a></li>
        <li><a href="information.html">Became a member</a></li>
    </ul>
</div>