<div id="footer">
    <div class="content">
        <ul>
            {% for info in information %}
            <li>
                <a href="{{path('jobz_core_information_show', { 'id': info.id }) }}">{{ info.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>