{% extends "CoreBundle::layout.html.twig" %}

{% block section %}
    <div id="content">
        <div class="content">
            <h2 class="heading">{{ information.title }}</h2>
            <p>
                {{ information.description }}
            </p>
        </div>
    </div>
{% endblock %}